html{
  font-family: sans-serif;
}

.header{
  margin: 0;
  padding: 0;
  height: 70px;
  background-color: black;
  color: #01a49e;
}

.titlespan{
  font-size: 30px;
  padding: 0;
  margin-left: 10px;
}

.headingspan{
  font-size: 20px;
  padding: 10px;
}

.bodyspan{
  padding: 10px;
}

.space{
  clear: both;
}

.menu{
  float: left;
  margin-right: 5px;
  padding: 3px;
}

a{
  color: inherit;
  text-decoration-color: #01a49e;
}

.body{
  height: 400px;
  background-color: #01a49e;
}

.section{
  height: 150px;
  background-color: #c5c6c7;
  margin: 10px;
}

.footer{
  height: 55px;
  background-color: black;
  color: #01a49e;
  margin-top: 5px;
}

.footerspan{
  padding: 0;
  margin-left: 10px;
}
