html{
  font-family: sans-serif;
}

nav{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80px;
  background-color: #343436;
  /* position: fixed; */
  /* top: 0; */
}

ul{
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  text-align: center;
  float: right;
}

li{
  display: inline-block;
  width: 110px;
  height: 20px;
  border: 4px solid #32A3DD;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-left: 10px;
  background-color: #5A5B5E;
}

li:hover{
  background-color: black;
}

a{
  text-decoration: none;
  font-size: 13px;
  color: white;
}

a:hover{
  color: #32A3DD;
}

.pageheader{
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #3B52A0;
  /* text-align: center; */
  color: white;
  align-items: center;
  justify-content: center;

}

.txt{
  /* display: inline-block; */
  /* text-align: center; */
  font-size: 30px;
  color: white;
}

body{
  background-color: #343436;
}

.mountains{
  /* width: 100%;
  height: 100%; */
  display: block;
  margin: auto;
}

.logo{
  clear: both;
  display: block;
  margin: auto;
  position: absolute;
  left: 25%;
  bottom: 40%;

.logo1{
  clear: both;
  /* display: block; */
  position: absolute;
  left: 5%;
  bottom: 30%;
}


footer{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 160px;
  background-color: #5A5B5E;
  position: fixed;
  bottom: 0;
}
