html{
  background-color: gray;
  border: 3px solid black;

}

body{
  background-color: lightgray;
  border: 4px solid lightblue;
}

ul{
  list-style-type: none;
  margin: 5px;
  padding: 0px;
  overflow: hidden;
  background-color: none;
  /* border: 1px solid black; */
  width: 75%;
  margin: auto;
  text-align: center;
}

li{
  display: inline-block;
  width: 100px;
  /* border: 1px solid black; */
  background-color: red;
}

li a{
  text-decoration: none;
  color: inherit;
}

li:hover{
  background-color: lime;
}

li a:hover{
  color: red;
}

.headers{
  text-align: center;
}
