table{
  /* margin: auto; */
  border: 3px solid white;
  border-collapse: collapse;
}

th, td{
  padding: 15px;
  text-align: center;
}

th{
  border: 3px solid white;
}

td{
  border: 3px solid white;
}

/* tr:hover{
  background-color: #ddd;
}

td:hover{
  background-color: red;
  color: white;
} */

#col_1{
  background-color: #ddd;
}

#col_2{
  background-color: lightblue;
}

#col_3{
  background-color: lightblue;
}

#col_4{
  background-color: lightblue;
}
