*{
  box-sizing: border-box;
}

header{
  background-image: url();
  background-repeat: no-repeat;
  background-size:
}

body{
  margin: 0;
}

#main{
  height: 80vh;
  display: flex;
  min-height: calc(100vh - 40vh);
}

#main article{
  flex: 1;
  /* display: flex;
  flex-flow: column wrap;
  overflow: hidden; */
  /* text-align: center; */
}

.container{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.house{
  width: 30%;
  height: 30%;
  align-items: flex-start;
}

p{
  /* margin-bottom: 50px; */
  padding-bottom: 50px;
  /* display: inline; */

}

#main nav, #main aside{
  flex: 0 0 20vw;
  background: pink;
  text-align: center;
}

#main nav{
  /* height: 70vh; */
  order: -1;
}

ul{
  list-style-type: none;
  margin: 5px;
  padding: 0px;
  overflow: hidden;
}

li{
  height: 20px;
  background-color: firebrick;
  margin-top: 15px;
  border-radius: 5px;
}

li a{
  text-decoration: none;
  color: white;
}

li:hover{
  background-color: maroon;
}

li a:hover{
  color: pink;
}

header, footer, article, nav{
  padding: 1rem;
}

header, footer{
  background-color: firebrick;
  height: 10vh;
}

@media screen and (max-width: 625px){
  #main{
    /* display: block; */
    flex-direction: column;
    display: flex;
  }

  nav{
  height: 30vh;
  border-top: 1px solid #000;
  padding-top: 20px;
  padding-bottom: 20px;
  }

  /* article{
  } */

  aside{
  height: 30vh;
  border-top: 1px solid #000;
  padding-top: 50px;
  }

  footer{
    border-top: 1px solid #000;
    text-align: center;
  }

  header{
    border-bottom: 1px solid #000;
    text-align: center;
  }
  li{
    width: 25vh;
    margin: auto;
    margin-top: 10px;
  }
}
